DATABASE_URL="postgresql://<USER>:<PASSWORD>@<HOST>:<PORT>/<DATABASE_NAME>schema=public&connection_limit=5&socket_timeout=3"
PORT=3000
ORIGINS=http://localhost:3000,http://localhost:3001
LOKI=http://localhost:3100

CW_LOG_GROUP=tours-app-logs
CW_LOG_STREAM=tours-api
AWS_REGION=us-east-2
